In [1]:
import pandas as pd

In [3]:
# Datensatz laden
file_path = r"C:\Users\leesh\Desktop\BA\Datensätze\cardiovascular_disease_dataset\cvd_a0_(id).xlsx"
df = pd.read_excel(file_path)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [11]:
# Normbereiche definieren
height_range = (140, 210)
weight_range = (40, 150)
ap_hi_range = (90, 200)
ap_lo_range = (60, 120)

In [13]:
# Filter für Normbereiche anwenden
filtered_df = df[
    (df['height'] >= height_range[0]) & (df['height'] <= height_range[1]) &
    (df['weight'] >= weight_range[0]) & (df['weight'] <= weight_range[1]) &
    (df['ap_hi'] >= ap_hi_range[0]) & (df['ap_hi'] <= ap_hi_range[1]) &
    (df['ap_lo'] >= ap_lo_range[0]) & (df['ap_lo'] <= ap_lo_range[1])
]

In [21]:
# Bereinigte Daten anzeigen
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68184 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           68184 non-null  int64
 1   age          68184 non-null  int64
 2   gender       68184 non-null  int64
 3   height       68184 non-null  int64
 4   weight       68184 non-null  float64
 5   ap_hi        68184 non-null  int64
 6   ap_lo        68184 non-null  int64
 7   cholesterol  68184 non-null  int64
 8   gluc         68184 non-null  int64
 9   smoke        68184 non-null  int64
 10  alco         68184 non-null  int64
 11  active       68184 non-null  int64
 12  cardio       68184 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 7.3 MB

In [31]:
# Daten exportieren
max_cols = df.shape[1]
output_file_path = r'C:\Users\leesh\Desktop\BA\Datensätze\cardiovascular_disease_dataset\cvd_a0_(filtered).xlsx'
filtered_df.to_excel(output_file_path, index=False)